[user]
  name = John L. Jegutanis
  email = erasmospunk@gmail.com
[core]
  autocrlf = input
	excludesfile = /Users/erank/.gitignore_global
  #safecrlf = true
[alias]
  co = checkout
  ci = commit
  st = status
  pl = pull
  ps = push
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hista = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
  type = cat-file -t
  dump = cat-file -p
[color]
  ui = true
[push]
  default = upstream
[credential]
  helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
